<h1>Thanks for being part of our community!</h1>
<h3>Please enter correct login params for this website.</h3>
<h3>👇</h3>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">

  <input type="submit" value="submit">
</form>