<h1>SORRY! </h1>
<h3>Looks like something happened lets give it another try!</h3>
<form action="/signup" method="POST">
  <p>Name:     <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input class="btn btn-primary" type="submit">
</form>