<form method='POST' action="/reviews/<%=@review.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for "name">Edit Name:</label>
  <input type="text" id="name" name="name" value="<%=@review.name%>">
  <br>
  <label for "content">Edit Content:</label>
  <textarea id="content" name="content"
                 rows = "3"
                 cols = "80"><%=@review.content%></textarea>
  </p>
  <input type="submit" value="Edit Your review">
  
</form>
  