<h1>Great Food is just around the corner, down the street, across town......</h1>
<br>
<h3>Do you have a review you would like to contribute?</h3>
<form method="get" action="/create">
  <input type="submit" value="write review">
</form>
<br>
<h3>Got to be somewhere else....</h3>
<h3>Logout here</h3>
<form method="get" action="logout">
  <input type="submit" value="logout">
</form>